extends /_templates/main.pug

block content
    each link in self.links
        a.-mx-4.py-2.px-4.flex.flex-col.no-underline.hover_bg-gray-100.rounded-sm(href=link.url)
            .font-semibold.text-gray-800= link.title
            .font-normal.text-sm.text-gray-400= link.subtitle
