extends /_templates/main.pug

block content
    +markdown(self.text)
    ul
        each link in self.links
            li.pl-0
                a(href=link.url)= link.title
                .text-sm.text-gray-400= link.subtitle
